:root {
  --gold: #d6ad60;
  --charcoal: #122620;
  --cream: #f4ebd0;
  --tan: #b68d40;
}
* {
  margin: 0;
}
body {
  background: var(--cream);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  /* grid-auto-rows: 150px; */
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;
  grid-template-areas:
    "header header"
    "zip entry"
    "feel entry";
  height: 100vh;
  background: #5e0800;
  color: #fff;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.holder {
}

.entry {
  background: var(--cream);
  color: var(--charcoal);
  padding: 10px;
  grid-area: entry;
}
.zip {
  grid-area: zip;
}
.feel {
  grid-area: feel;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#entryHolder {
}

#date {
}

#temp {
}

#content {
}

.headline {
  height: fit-content;
  grid-area: header;
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: var(--cream);
  color: var(--charcoal);
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px var(--gold);
  padding: 10px;
}

button {
  width: 150px;
  height: 80px;
  background: var(--gold);
  color: var(--charcoal);
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px var(--tan);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: var(--tan);
}

h1 {
  font-size: 36px;
}

textarea {
  background: var(--cream);
  color: var(--charcoal);
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px var(--gold);
  margin-right: 20px;
  padding: 10px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: var(--charcoal);
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--charcoal);
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--charcoal);
  font-family: "Oswald", sans-serif;
}
